:root {
  --filter: 20%;
}
html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
html {
  background: url('./assets//background.jpg') bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(var(--filter));
}
body {
  /* display: flex;
  flex: 1;
  align-items: center;
  justify-content: center; */
  min-height: 100vh;
  margin: 0;
}
.box_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}
#blur {
}
#mainBox {
  min-height: 90vh;
  margin: 3rem;
  margin-top: 0;
  background-color: rgba(171, 171, 171, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  backdrop-filter: blur(0.5px);
}

.svg_box {
  width: 100px;
  margin: 5px;
  display: inline-block;
}
